---
---

@import "{{ site.theme }}";

body {
  color: #000000;
  background-color: #000000;
}

h1, h2, h3, h4, h5, h6 {
  color:#FFFFFF;
  margin:0 0 20px;
}

a {
  color:#FFFFFF;
  text-decoration:none;
}

a:hover, a:focus {
  color:#FFFFFF;
  font-weight: bold;
}

code {
  font-size: 75%;
}
