---
---

@import "{{ site.theme }}";

h1, h2, h3, h4, h5, h6 {
  margin:0 0 20px;
  color: white;
}

a {
  text-decoration:none;
  color: white;
}

a:hover, a:focus {
  font-weight: bold;
  color:#C0C0C0 
}

body {
  background-color: black; 
  color: white;
}

strong {
  color: #C0C0C0;
}

code {
  color: #C0C0C0;
}
