---
---

@import "{{ site.theme }}";

h1, h2, h3, h4, h5, h6 {
  margin:0 0 20px;
  color: black;
}

a {
  text-decoration:none;
  color:#000000;
}

a:hover, a:focus {
  font-weight: bold;
  color: black;
}

code {
  color: black;
  font-size: 75%;
}

body {
	color: black;
}
